.miko-wrapper {
  position: relative;
}
.miko-container-inline {
  font-size: 0;
}
.miko-inline-box {
  font-size: initial;
  display: inline-block;
  vertical-align: top;
}

/*Tabs*/
.breadcrumbs {
  margin-bottom: 15px;
}
.breadcrumbs,
.breadcrumbs * {
  font-size: 12px;
  color: #666;
  font-weight: 300;
  line-height: 16px;
  vertical-align: middle;
}
.breadcrumbs .level:hover {
  color: orange;
  text-decoration: none;
}
.breadcrumbs .level.active {
  cursor: default;
  text-decoration: none;
}
.breadcrumbs .miko-devider {
  font-size: 8px;
}


.bage {
  color: #888;
}

.psevdocheckbox {
  display: block;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  color: #000;
  text-decoration: none;
  margin: 0 0 3px 0;
}
.psevdocheckbox:hover {
  background: #eee;
}
.psevdocheckbox .stateIcon {
  color: #888;
}
.psevdocheckbox.selected {
  background: #ddd;
}
.psevdocheckbox.selected .stateIcon {
  color: orange;
}
.stateIcon .state.active {
  display: inline-block;
}
.stateIcon .state.inactive {
  display: none;
}
.stateIcon .state {
  background: #fff;
  height: 12px;
  width: 12px;
  display: inline-block;
  border: 1px solid #ccc;
  vertical-align: middle;
  margin: 2px 5px 4px 0;
  position: relative;
}
.stateIcon .state.active::before {
  content: '✔';
  vertical-align: middle;
  line-height: 30px;
  top: -8px;
  position: absolute;
}