#fixed-parent-1 {
  width: 290px;
  float: left;
  box-sizing: border-box;
}
#relative-block-1 {
  margin-left: 300px;
}

.sort-block {
  margin: 10px 0;
}

#sort-block li a {
  color: #222;
}
#sort-block li.active a {
  text-decoration: underline;
  color: orange;
}
#sort-block .miko-devider {
  padding: 0 5px;
}
.sort-block *,
.sort-block #sort-block li {
  font-size: 13px;
}
.sort-block .sort-title,
.sort-block ul {
  display: inline-block;
  vertical-align: middle;
  color: #888;
}
.sidebar .miko-wrapper {
  box-sizing: border-box;
  padding: 0 10px;
}
#fixed-block-1 {
  padding: 10px 0;
  box-sizing: border-box;
}

.pages-block {
  margin: 0 0 30px 0;
  font-size: 0;
}
.item_box {
  min-width: 200px;
  display: inline-block;
  padding: 0 5px;
  width: 250px;
  box-sizing: border-box;
  border: 1px solid transparent;
  font-size: initial;
}
.item_box:hover { border-color: #ccc; }
.item_box .miko-wrapper {
  display: block;
  margin: 0;
  padding: 10px 5px;
  box-sizing: border-box;
}
.item_box .img-wrapper,
.item_box .img-wrapper .img-item {
  width: 100%;
  height: 100%;
  padding: 5px;
  display: block;
  max-width: 250px;
  margin: 0 auto;
  white-space: nowrap;
  box-sizing: border-box;
}
.item_box .img-wrapper {
  height: 300px;
  font-size: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.img-grid {
  text-decoration: none; 
}
.item_box-title {
  color: #999;
  padding: 5px 0;
}
.item_box-price {
  color: #f7a900;
  font-weight: bold;
}
.item_box .item_box-actions {
  margin-top: 5px;
  color: #999;
  height: 20px;
}
.item_box .item-actions {
  float: right;
  cursor: pointer;
}
.item_box .item_box-actions .item-action:hover {
  color: orange;
}
.item_box .item_box-actions .item-action.active {
  color: orange;
}


#fixed-container-1 {
  /* width: 1250px; */
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 10px;
}

@media screen and (min-width: 0px) {
  .item_box {
    width: 33.333333%;
  }
  #fixed-parent-1 {
    margin-left: -290px;
  }
  #relative-block-1 {
      margin-left: 0;
  }
}
@media screen and (min-width: 960px) {
  .item_box {
    width: 33.333333%;
  }
  #relative-block-1 {
      margin-left: 300px;
  }
  #fixed-parent-1 {
    margin-left: 0;
  }
}
@media screen and (min-width: 1240px) {
  #fixed-container-1 {
    width: 1250px;
  }
  .item_box {
    width: 25%;
  }
}
@media screen and (min-width: 1920px) {
  .item_box {
    width: 20%;
  }
  #fixed-container-1 {
    width: 1500px;
  }
}